{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "semistandard",
    "prettier"
  ],
  "plugins": [
    "standard",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "no-var": "error",
    "prefer-const": "error",
    "no-else-return": "error",
    "object-shorthand": ["error", "properties"],
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
